<!DOCTYPE html>
<html>
  <head>
    <title>Allergy Score Tester</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1> Test what you're allergic to! </h1>
    <form action="/results" method="post">
      <label for="score">Allergy Score:</label>
      <input type="number" name="score" id="score" min="0">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>